.signinScreen{
    max-width: 300px;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.85);
}

.signinScreen>form{
    display: grid;
}

.signinScreen > form > h1 {
    text-align: left;
    margin-bottom: 15px; /* Adjust this value as needed */
    margin-top: -10px; /* Add this line to move the text up */
}

.signinScreen>form>h4{
    text-align: left;
    margin-top: 30px;
}
.signinScreen__gray{
    color: gray;
}
.signinScreen__link{
    cursor: pointer;
    text-decoration:underline;
}

.signinScreen>form>input{
    outline-width: 0;
    height: 30px;
    margin-bottom: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
}
.signinScreen>form>button{
    padding: 16px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}